.dashboard {
  margin-left: 220px;
  margin-top: 70px;
  padding: 20px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link-container {
  display: flex;
  align-items: center;
}

.brand-container {
  height: 80%;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
}

.brand-text {
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
  background-color: #0295a9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
}

.brand-text-nav {
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
  background-color: #0295a9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
  width: 100%;
  text-align: center;
}